body{
    max-width: 1200px;
    margin: 0 auto;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem auto;
}

header .logo > img {
    width: 60%;
}
header .searchBox{

}

header .searchBox .searchForm .searchInput{
    position: relative;
    width: 200px;
    display: inline-block;
}
header .searchBox .searchForm .searchInput input[type="text"]{
    width: 190px;
    border: none;
    border-bottom: 1px solid #ccc;
    background: transparent;
    padding:0 0 5px 10px;
    position: relative;
    z-index: 5;
    font-size: 1.2rem;
}
header .searchBox .searchForm .searchInput input[type="text"]::placeholder{
    color: transparent;
}
header .searchBox .searchForm .searchInput input[type="text"]:focus{
    outline: none;
}
header .searchBox .searchForm .searchInput > label{
    position: absolute;
  color: #aaa;
  left: 10px;
  font-size: 1rem;
  bottom: 8px;
  transition: all .2s;
}
header .searchBox .searchForm .searchInput > span{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #666;
    height: 2px;
    border-radius: 2px;
    transition:0.5s;
}

header .searchBox .searchForm .searchInput input:focus ~ label, 
header .searchBox .searchForm .searchInput input:valid ~ label {
    font-size: 0.8rem;
    bottom: 110%;
    color: #666;
    font-weight: bold;
  }
  
  header .searchBox .searchForm .searchInput input:focus ~ span, 
  header .searchBox .searchForm .searchInput input:valid ~ span {
    width: 100%;
  }


.movieList{
    display: flex;
    flex-wrap: wrap;
}

.movieList .movieCard{
    max-width: 24%;
    width: 100%;
    margin: 0 1rem 1rem 0;
}
.movieList .movieCard:nth-of-type(4n){
    margin: 0;
}